@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

#bloc_page{
    max-width: 1440px;
    margin: auto;
}

main, #subheader, .logo_reservia{
    padding: 0px 40px;
}

strong{
    font-weight: bold;
}

a{
    color: black;
    text-decoration: none;
}

h1{
    font-weight: bold;
    font-size: x-large;
}

h2{
    font-weight: bold;
}

i{
    font-size: 15px;
}

/*HEADER START */

.logo_reservia{
    display: block;
    float: left;
    clear: both;
    width: 8%;
    margin-top: 15px;
}

#heberge:hover, #activi:hover, #sinscrire:hover{
    border-top: #0065fc solid 2px;
    color: #0065fc;
    margin-top: 0px;
}

header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: medium;
    padding: 0px;
}

header li a{
    padding-top: 37px;
    padding-left: 30px;
    padding-right: 20px;
}

#sinscrire{
    color: #0065fc;
    font-weight: bold;
}

nav{
    max-width: 33%;
    position: relative;
    justify-content: space-between;
    display: flex;
    float: right;
    margin-top: 15px;
}

/* HEADER END */

/*SUBHEADER START */

#titre_page{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
    clear: both;
    padding-top: 50px;
}

#map_marker{
    border: 1px solid #F2F2F2;
    margin-right: -5px;
    background-color: #f2f2f2;
    padding: 15px;
    padding-top: -3px;
    border-radius: 25% 0% 0% 25%;
}

form{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-left: 0px; 
}

#recherche{
    font-weight: bold;
    padding: 15px;
    font-size: medium;
    border: 1px solid #F2F2F2;
}

#bouton_envoi{
    color: white;
    background-color: #0065fc;
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
    margin-left: -5px;
    border-style: none;
    border: 1px solid #0065fc;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.filtres{
    border: 2px #f2f2f2 solid;
    opacity: 1;
    border-left: none;
    border-radius: 35px 35px 35px 35px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;   
}

.filtres:hover{
    background-color: #deebff;
    cursor: pointer;
}

#filtres_label{
    font-weight: bold;
    margin-right: 20px;
}

.value_filtres{
    padding-right: 15px;
}

#logos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    position: relative;
    max-width: 80%;
    height: auto;
    font-weight: bold;
    margin-bottom: 20px;
}

#logos i{
    color: #0065fc;
    background-color: #deebff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 2px #deebff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 10px; 
}

#logo_info{
    color: #0065fc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    margin-bottom: 40px;
}

#info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 450px;
    justify-content: space-between;
    align-items: baseline;
}

/*SUBHEADER END */

/* Hebergements START */

#premiers_blocs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#hebergement_a_marseille{  
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    margin-right: 15px;
    justify-content: left;
}

.etoile_bleue{
    color: #0065fc;
}

.etoile_grises{
    color: #f2f2f2;
}

#hebergement_a_marseille h2{
    margin-left: 20px;
    margin-top: 30px;
}

.carte_heberge{
    border: 2px solid #F2F2F2;
    border-radius: 10% 10% 10% 10%;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    font-size: medium;
    height: auto;
    margin-bottom: 10px;
    margin-left: 0px; 
}

.carte_heberge img{
    border-radius: 20px 20px 0 0;
    height: 110px;
    width: 220px;
    padding-bottom: 0px;
    margin: 4px;
    object-fit: cover;
}

.nom_carte{
    font-weight: bold;
    font-size: large;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}

.legende_carte{
    padding-bottom: 5px;
    padding-top: 2px;
    margin-left: 10px;
}

.prix_carte{
    font-weight: bold;
}

.etoiles_carte{
    padding-bottom: 15px;
    padding-top: 5px;
    margin-left: 10px;
}

#cartes_ensemble{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}

#afficher_plus{
    font-weight: bold;
    margin-left: 20px;
    padding-top: 10px;
}

/* Hebergements END */

/* Populaires START */

#les_plus_populaires{
    background-color: #f2f2f2;
    border-radius: 20px 20px 20px 20px;
    margin-left: 15px;
    min-width: 31%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: nowrap;
}

#tete_pop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

#tete_pop h2{
    margin-left: 10px;
    padding-top: 10px;
}

#tete_pop i{
    color: black;
    margin-right: 10px;
    font-size: 30px;
}

.carte_pop{
    border: 2px solid #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    display: flex;
    position: relative;
    margin-bottom: 15px;
    flex-direction: row;
    height: 150px;
    font-size: medium; 
    flex-wrap: nowrap; 
}

.carte_pop img{
    width: 125px;
    margin: 4px;
    position: relative;
    float: left;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.text_pop{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 10px;
}

.nom_carte_pop{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}

.legende_carte_pop{
    margin-bottom: 25px;
}

.prix_carte_pop{
    font-weight: bold;
}

.etoiles_carte_pop{
    margin-bottom: 10px;
}

#cartes_pop_ensemble{
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Populaires END */

/*ACTIVITES START*/

#act h2{
    margin-top: 70px;
    margin-left: 10px;
}

.carte_act_grand{
    border: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    margin: 10px;
    flex: 1;
}

.carte_act_grand img{
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.nom_carte_act{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
}

.carte_act_moyen_1{
    border: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    margin: 10px;
}

.carte_act_moyen_1 img{
    height: 200px;
    object-fit: none;
    display: block;
    align-items: stretch;
    border-radius: 20px 20px 0px 0px;
}

.carte_act_moyen_2{
    border: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    height: 200px;
    margin: 10px;
}

.carte_act_moyen_2 img{
    height: 140px;
    object-fit: cover;
    display: block;
    align-items: stretch;
    border-radius: 20px 20px 0px 0px;
}

#ensemble_act{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.superposition_act{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

#act{
    display: block;
    height: auto;
}

/*ACTIVITES END*/

/*FOOTER START*/
footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    padding: 40px;
}

footer ul{
    list-style: none;
    padding: 0px;
}

footer a:hover{
    text-decoration: underline;
}

footer li{
    margin-bottom: 10px;
}

footer h3{
    margin: 0px;
}

.footer_bloc{
    flex: 1;
}
/*FOOTER END*/