@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

#bloc_page{
    max-width: 1200px;
    margin: auto;
}

strong{
    font-weight: bold;
}

a{
    color: black;
    text-decoration: none;
}

h1{
    font-weight: bold;
    font-size: x-large;
}

h2{
    font-weight: bold;
}

i{
    font-size: 15px;
}

.logo_reservia{
    display: block;
    float: left;
    clear: both;
    width: 8%;
    margin-top: 0px;
}

#heberge:hover, #activi:hover, #sinscrire:hover{
    border-top: #0065fc solid 2px;
    color: #0065fc;
}

header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    font-size: medium;
}

header li a{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#sinscrire{
    color: #0065fc;
    font-weight: bold;
}

#titre_page{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
    clear: both;
    padding-top: 50px;

}

#map_marker{
    border: 1px solid #F2F2F2;
    margin-right: -5px;
    background-color: #f2f2f2;
    padding: 15px;
    padding-top: -3px;
    border-radius: 25% 0% 0% 25%;
    
}

form{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-left: 0px; 
}

#recherche{
    font-weight: bold;
    padding: 15px;
    font-size: medium;
    border: 1px solid #F2F2F2;
}

#bouton_envoi{
    color: white;
    background-color: #0065fc;
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
    margin-left: -5px;
    border-style: none;
    border: 1px solid #0065fc;
    font-size: medium;
    font-weight: bold;
}

.filtres{
    border: 3px #f2f2f2 solid;
    opacity: 1;
    border-left: none;
    border-radius: 0px 35px 35px 0px;
    padding: 0px;
    width: 150px;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
}

.filtres:hover{
    background-color: #deebff;
}

#logos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    width: 70%;
    height: auto;
    font-weight: bold;
    margin-bottom: 20px;
}

#logos i{
    color: #0065fc;
    background-color: #deebff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 2px #deebff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    margin-left: -45px;  
}

#logo_familial{
    padding-left: -20px;
    width: 120px;
}

#logo_animaux{
    width: 200px;
}

#logo_info{
    color: #0065fc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
    margin-bottom: 40px;
}

#info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 450px;
    justify-content: space-between;
    align-items: baseline;
}

#premiers_blocs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#hebergement_a_marseille{  
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px 20px 20px 20px;
    margin-right: 5px;
    justify-content: left;
    height: 700px;
}

.etoile_bleue{
    color: #0065fc;
}

.etoile_grises{
    color: #f2f2f2;
}

#hebergement_a_marseille h2{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: x-large;
}

.carte_heberge{
    border: 2px solid #F2F2F2;
    border-radius: 10% 10% 10% 10%;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    font-size: medium;
    height: auto;
    margin: 0px;
    margin-left: 0px;
    
}

.carte_heberge img{
    border-radius: 20px 20px 0 0;
    height: 110px;
    width: 220px;
    padding-bottom: 0px;
    margin: 4px;
    object-fit: cover;
}

.nom_carte{
    font-weight: bold;
    font-size: large;
    margin-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}

.legende_carte{
    padding-bottom: 5px;
    padding-top: 2px;
    margin-left: 10px;
}

.prix_carte{
    font-weight: bold;
}

.etoiles_carte{
    padding-bottom: 15px;
    padding-top: 5px;
    margin-left: 10px;
}

#cartes_ensemble{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    padding: 0px;
    margin-left: 0px;
    
}

#afficher_plus{
    font-weight: bold;
    margin-left: 30px;
    padding-top: 10px;
}

#les_plus_populaires{
    background-color: #f2f2f2;
    border-radius: 20px 20px 20px 20px;
    margin-left: 25px;
    min-width: 30%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tete_pop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

#tete_pop h2{
    margin-left: 30px;
    padding-top: 10px;
}

#tete_pop i{
    color: black;
    margin-right: 70px;
    font-size: 30px;
}

.carte_pop{
    border: 2px solid #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    width: 425px;
    height: 150px;
    margin-left: 20px; 
    margin-bottom: 30px;
    font-size: medium; 
    flex-wrap: nowrap; 
}

.carte_pop img{
    width: 200px;
    margin: 4px;
    position: relative;
    float: left;
    border-radius: 20px 0px 0px 20px;
    flex-wrap: nowrap;
    object-fit: cover;
}

.text_pop{
    display: flex;
    flex-direction: column;
    
}

.nom_carte_pop{
    font-weight: bold;
    margin-top: 15px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    width: 80%;

}

.legende_carte_pop{
    margin-bottom: 40px;
}

.prix_carte_pop{
    font-weight: bold;
}

.etoiles_carte_pop{
    margin-bottom: 10px;
}

#cartes_pop_ensemble{
    display: block;
    position: absolute;
    margin-top: 125px;
    justify-content: space-between;
}
/*ACTIVITES START*/



.carte_act_grand{
    border: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    height: 450px;
    margin: 0px;
    margin-left: 0px;
    flex: 1;
}

.carte_act_grand img{
    height: 400px;
    width: 100%;
    object-fit: none;
    display: block;
    align-items: stretch;
    border-radius: 20px 20px 0px 0px;
}

.nom_carte_act{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.carte_act_moyen_1{
    border: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    height: 250px;
    margin: 0px;
    margin-left: 0px;
}

.carte_act_moyen_1 img{
    height: 200px;
    object-fit: none;
    display: block;
    align-items: stretch;
    border-radius: 20px 20px 0px 0px;
}

.carte_act_moyen_2{
    border: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    height: 200px;
    margin: 0px;
    margin-left: 0px;
}

.carte_act_moyen_2 img{
    height: 140px;
    object-fit: cover;
    display: block;
    align-items: stretch;
    border-radius: 20px 20px 0px 0px;
}

#ensemble_act{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 450px;
}

.superposition_act{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
/*ACTIVITES END*/

/*FOOTER START*/
footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

footer ul{
    list-style: none;
    padding: 0px;
}

footer a:hover{
    text-decoration: underline;
}

footer li{
    margin-bottom: 10px;
}


.footer_bloc{
    flex: 1;
}
/*FOOTER END*/