@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

strong{
    font-weight: bold;
}

h1{
    font-weight: bold;
    font-size: x-large;
}

h2{
    font-weight: bold;
}

i{
    font-size: 25px;
}

.logo_reservia{
    display: block;
    float: left;
    clear: both;
    width: 8%;
    margin-bottom: -5px;
    margin-top: 20px;
}

#heberge:hover, #activi:hover, #sinscrire:hover{
    border-top: #0065fc solid;
    color: #0065fc;
}

header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    position: absolute;
    right: 50px;
    float: top right;
    width: 400px;
    padding-top: 30px;
    font-size: medium;
}

#sinscrire{
    color: #0065fc;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#titre_page{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
    clear: both;
    padding-top: 50px;

}

#map_marker{
    border: 1px solid #F2F2F2;
    margin-right: -5px;
    background-color: #f2f2f2;
    padding: 15px;
    padding-top: -3px;
    border-radius: 25% 0% 0% 25%;
    
}

form{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-left: 0px; 
}

#recherche{
    font-weight: bold;
    padding: 15px;
    font-size: medium;
    border: 1px solid #F2F2F2;
}

#bouton_envoi{
    color: white;
    background-color: #0065fc;
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
    margin-left: -5px;
    border-style: none;
    border: 1px solid #0065fc;
    font-size: medium;
    font-weight: bold;
}

.filtres{
    border: 3px #f2f2f2 solid;
    opacity: 1;
    border-left: none;
    border-radius: 0px 35px 35px 0px;
    padding: 0px;
    width: 150px;
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
}

.filtres:hover{
    background-color: #deebff;
}

#logos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    width: 70%;
    height: auto;
    font-weight: bold;
    margin-bottom: 20px;
}

#logos i{
    color: #0065fc;
    background-color: #deebff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 2px #deebff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    margin-left: -45px;  
}

#logo_familial{
    padding-left: -20px;
    width: 120px;
}

#logo_animaux{
    width: 200px;
}

#logo_info{
    color: #0065fc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
    margin-bottom: 40px;
}

#info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 450px;
    justify-content: space-between;
    align-items: baseline;
}

.carte_heberge{
    border: 2px solid black;
    border-radius: 10%;
}

#hebergement_a_marseille{
    clear: both;
    text-align: center;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
}

#hebergement_a_marseille i{
    color: #0065fc;
}

#les_plus_populaires{
    background-color: #f2f2f2;
}

#logo_populaires{
    width: 20%;
    position: relative;
    justify-content: end;
    align-items: flex-end;
}

footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
}

footer ul{
    list-style: none;
    padding: 0px;
}

footer a:hover{
    text-decoration: underline;
}

footer li{
    margin-bottom: 10px;
}


.footer_bloc{
    flex: 1;
}